#customize-control-spice_side_panel_top, #customize-control-spice_side_panel_right, #customize-control-spice_side_panel_bottom, #customize-control-spice_side_panel_left{
	width: 21%;
    clear: none;
    padding-right: 5px;
}
#customize-control-spice_side_panel_fontfamily, #customize-control-spice_side_panel_fontsize, #customize-control-spice_side_panel_lheight, #customize-control-spice_side_panel_fontweight, #customize-control-spice_side_panel_fontstyle, #customize-control-spice_side_panel_transform
{
    width: 48%;
    clear: none;
    padding-right: 5px;
}
#customize-control-spice_side_panel_title_fontfamily, #customize-control-spice_side_panel_title_fontsize, #customize-control-spice_side_panel_title_lheight, #customize-control-spice_side_panel_title_fontweight, #customize-control-spice_side_panel_title_fontstyle, #customize-control-spice_side_panel_title_transform
{
    width: 48%;
    clear: none;
    padding-right: 5px;
}
#customize-control-spice_side_panel_content_fontfamily, #customize-control-spice_side_panel_content_fontsize, #customize-control-spice_side_panel_content_lheight, #customize-control-spice_side_panel_content_fontweight, #customize-control-spice_side_panel_content_fontstyle, #customize-control-spice_side_panel_content_transform
{
    width: 48%;
    clear: none;
    padding-right: 5px;
}
#customize-control-spice_panel_padding 
{
    margin-bottom: -2px;
}