body 
{
  margin:0;
  padding:0;
}
.panel-content::-webkit-scrollbar 
{
  width: 0px;
}
.spice-side-panel 
{
  background-color: #ffffff;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  max-width: 100%;
  margin-left: -320px;
  width: 320px;
  font-size: 16px;
  color: #000;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
  transition: 0.4s cubic-bezier(0.69, 0, 0.06, 1.01); 
  z-index: 100000;
}
.panel-content
{
  overflow: auto;
  height: 100%;
  position: relative;
  display: block;
  width: calc(100% - 0.5em);
  min-width: 100px;
  padding: 1em;
}
.spice-side-panel:before 
{
  content:'';
  position:absolute;
  height:100vh;
  width:10px;
  top:0;
  left:100%;
  z-index:1;
}
/*.line 
{
  height:1px;
  width:calc(100% - 44px);
  background-color:#E9D985;
  margin:0 22px;
}*/
.ssp-circle 
{
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 22px);
  left: calc(100% - 0px);
  cursor: pointer;
}
.spice-panel-title
{
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  text-decoration: none;
  display: inline-block;
}
.sp-panel-close{
   color: #222;
    font-size: 1.5rem;
  font-weight: bold;
  line-height: 0.75rem;
}
.fa-chevron-left 
{
  margin-right:5px;
}
.fa-chevron-right 
{
  margin-left:5px;
}
.ssp-circle .hide 
{
  display:none;
}
.spice-side-panel .widget_block a:hover, .spice-side-panel .widget_block a:focus, .spice-side-panel .wp-block-tag-cloud a:hover, .spice-side-panel .wp-block-tag-cloud a:focus, .spice-side-panel .widget_nav_menu a:hover , .spice-side-panel .widget_nav_menu a:focus
{
  color: #ff6f61;
}
.side-panel-overlay{
  position: fixed;
    z-index: 99999;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.side-panel-overlay.show{display: block;}
.spice-panel-alignment-right .spice-side-panel {
    right: 0;
    margin-right: -320px;
    margin-left: 0;
}
.spice-panel-alignment-right .spice-side-panel  .ssp-circle {
    right: calc(100% - 0px);
    left: auto;
}
.sp-panel-close{
    outline: none;
    display: inline-block;
    padding: 2px 10px 0px;
    cursor: pointer;
    margin-bottom: 40px;
}
.spice-side-panel h1, .spice-side-panel h2, .spice-side-panel h3, .spice-side-panel h4, .spice-side-panel h5, .spice-side-panel h6
{
  color: #000000;
}
/*.spice-side-panel.sidebar a{
    color: #858585;
}*/
body .spice-side-panel.sidebar label
{
  color: #858585;
}
body .spice-side-panel.sidebar .widget
{
  color: #000000;
}
.dark .spice-side-panel.sidebar .wp-block-calendar table tbody {
    color: #40464d;
}
body .spice-side-panel.sidebar .widget .wp-block-tag-cloud a
{
  color: #777777;
}
body .spice-side-panel.sidebar .widget .wp-block-tag-cloud a:hover{
  color: #ffffff;
}
body .spice-side-panel.sidebar .widget .wp-block-social-links{
display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
  }